#cover-header {
  display: flex;
  flex-direction: column;
  z-index: 3;
  height: 400px;
  align-items: center;
  background-image: url('https://i.ibb.co/Bc2T8CQ/download.png');
}

#profile-pic {
  margin-top: 30px;
  width: 200px;
  filter: drop-shadow(12px 12px 25px rgba(88,0,0,0.5));
}

#profile-name {
  text-align: center;
  margin-top: 20px;
  font-size: 55px;
  font-weight: 300;
  color: black;
  text-shadow: 3px 3px 0 white;
  font-stretch: extra-expanded;
}

@media only screen and (min-width: 1024px) {
  #cover-header {
    height: 668px;
    width: 50%;
    max-width: 400px;
    border-radius: 48px;
    opacity: 0.9;
    transition: opacity 1s, box-shadow 0.5s;
    margin-left: 80px;
  }

  #cover-header:hover {
    font-weight: 400;
    box-shadow: 6px 6px 6px black;
    opacity: 1;
    transition: opacity 1s, box-shadow 0.5s;
  }

}