html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  background: rgb(0,212,255);
  background: linear-gradient(314deg, rgba(0,212,255,0.62) 6%, rgba(68,9,121,0.62) 94%);
}

main {
  display: flex;
  flex-direction: column;
  min-height: 1400px;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  overflow-wrap: break-word;
}

@media only screen and (min-width: 1024px) {
  main {
    flex-direction: row;
    margin-top: 175px;
    justify-content: space-evenly;
  }

  #feed {
    width: 60%;
  }
}
