nav {
  display: flex;
  position: fixed;
  height: 80;
  width: 100%;
  color: #FFF;
  background-color: #4056A1;
  justify-content: space-between;
  z-index: 10;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 30px 30px 15px 30px;
  font-size: 20px;
}

#logo {
  font-family: 'Bungee', sans-serif;
  font-size: 33px;
  margin-right: 33px;
}

