#current-tweet {
  margin: 0 auto;
  width: 70%;
  display: none;
  max-width: 70%;
}

#new-tweet {
  display: flex;
  flex-direction: column;

}

#tweet-input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid black 5px;
  background: none;
  margin-bottom: 10px;
}

#tweet-input:focus {
  outline: none;
}

#tweet-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 11px;
}

#tweet-button {
  border-radius: 25px;
  border: solid black 3px;
  background: aqua;
  font-family: 'Bungee', sans-serif;
}

#tweet-button:focus {
  outline: none;
}

#word-counter {
  font-family: 'Bungee', sans-serif;
}

.redCounter {
  font-family: 'Bungee', sans-serif;
  color: #800000;
}

#tweet-button:hover {
  cursor: pointer;
}

.error-hidden {
  display: none;
  color: maroon;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
}

.error-display {
  display: unset;
}

@media only screen and (min-width: 1024px) {
  #current-tweet h2 {
    margin-block-start: 0;
  }
}